

html {
  @apply antialiased text-base overflow-x-hidden;
}

body {
  @apply relative font-body text-base text-body-txt bg-body-background leading-snug;
}

// Liens
a,
button {
  @apply text-[inherit] underline;

  text-decoration-color: theme("colors.current");
  text-decoration-thickness: from-font;
  text-underline-offset: 1px;
  text-decoration-style: solid;
  transition: color 0.4s;

  &:hover {
    @apply text-accent;
    text-decoration-color: theme("colors.current");
  }

  &:focus {
    @apply outline-1 outline-offset-2 outline-dotted outline-current;
  }
}

// optional - enable smooth scrolling
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    //scroll-behavior: smooth;
  }
}


// Gsap
// FOUC
// https://greensock.com/forums/topic/19077-fouc-with-gsap-animations/

.fouc-hidden {
  visibility: hidden;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
