

html {
  @apply antialiased text-base overflow-x-hidden;
}

body {
  @apply relative min-h-[100svh] font-body text-base text-body-txt bg-body-background leading-snug;
}

// Liens
a,
button {
  @apply text-[inherit] underline;

  text-decoration-color: theme("colors.current");
  text-decoration-thickness: from-font;
  text-underline-offset: 1px;
  text-decoration-style: solid;
  transition: color 0.4s;

  &:hover {
    @apply text-accent;
    text-decoration-color: theme("colors.current");
  }

  &:focus {
    @apply outline-1 outline-offset-2 outline-dotted outline-current;
  }
}

// Blank target links
/*a[target="_blank"] {
  @apply inline-flex items-baseline;
  &::after {
    @apply ml-1 h-[0.8em] w-[0.8em] block fill-current shrink-0;
    content: '';
    mask: url("~/assets/images/icons/external-link.svg") no-repeat center;
    background-color: currentColor;
    //mask-size: contain;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: 0 0.1em;
    line-height: 0;
  }
}*/


// optional - enable smooth scrolling
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    //scroll-behavior: smooth;
  }
}


// Gsap
// FOUC
// https://greensock.com/forums/topic/19077-fouc-with-gsap-animations/
.fouc-hidden {
  visibility: hidden;
}

// Vue transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
