
// Nord css variables
//@each $name, $color in $nords {
//  :root {
//    --color-#{$name}: #{hue($color)} #{saturation($color)} #{lightness($color)};
//  }
//}
//
//// Named colors
//:root {
//  --color-primary: #{hue($nord-10) saturation($nord-10) lightness($nord-10)};
//  --color-primary-content: #{hue(darken($nord-10, 10%)) saturation(darken($nord-10, 10%)) lightness(darken($nord-10, 10%))};
//  --color-secondary: #{hue($nord-11) saturation($nord-11) lightness($nord-11)};
//  --color-secondary-content: #{hue(darken($nord-11, 10%)) saturation(darken($nord-11, 10%)) lightness(darken($nord-11, 10%))};
//}
//
//.dark {
//  --color-primary: #{hue($nord-8) saturation($nord-8) lightness($nord-8)};
//  --color-primary-content: #{hue(lighten($nord-8, 10%)) saturation(lighten($nord-8, 10%)) lightness(lighten($nord-8, 10%))};
//  --color-secondary: #{hue($nord-11) saturation($nord-11) lightness($nord-11)};
//}
//
//// Backgrounds
//:root {
//  --color-body-background: #{hue(#f2f4f8) saturation(#f2f4f8) lightness(#f2f4f8)};
//}
//
//.dark {
//  --color-body-background: #{hue(#242933) saturation(#242933) lightness(#242933)};
//}

html {
  @apply antialiased text-base;
}

body {
  @apply relative font-body text-base text-body-txt bg-body-background;
}

// Liens
a,
button {
  @apply text-[inherit] underline;

  text-decoration-color: theme("colors.current");
  text-decoration-thickness: from-font;
  text-underline-offset: 1px;
  text-decoration-style: solid;
  transition: color 0.4s;

  &:hover {
    @apply text-accent;
    text-decoration-color: theme("colors.current");
  }

  &:focus {
    @apply outline-1 outline-offset-2 outline-dotted outline-current;
  }
}

// optional - enable smooth scrolling
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    //scroll-behavior: smooth;
  }
}


// Gsap
// FOUC
// https://greensock.com/forums/topic/19077-fouc-with-gsap-animations/

.fouc-hidden {
  visibility: hidden;
}
