/*
@use "@fontsource-utils/scss" as fontsource;
@use "@fontsource/rubik/scss/mixins" as Rubik;


// Doc here:
// https://fontsource.org/docs/getting-started/faces-mixin


@include fontsource.faces(
        $metadata: Rubik.$metadata,
        $subsets: latin,
        $weights: 500,
        $styles: normal,
        $family: "rubik-medium",
);

@include fontsource.faces(
        $metadata: Rubik.$metadata,
        $subsets: latin,
        $weights: 900,
        $styles: normal,
        $family: "rubik-black"
);

// debug
*/



