$color-my-super-color-base: #df01df;
$color-nord-0-base: #2e3440;
$color-nord-1-content: #2d3340;
$color-nord-1-base: #3b4252;
$color-nord-2-base: #434c5e;
$color-nord-3-base: #4c566a;
$color-nord-41-test: #d12626;
$color-nord-41-base: #d8dee9;

:root {
  --color-my-super-color-base: #df01df;
  --color-nord-0-base: #2e3440;
  --color-nord-1-content: #2d3340;
  --color-nord-1-base: #3b4252;
  --color-nord-2-base: #434c5e;
  --color-nord-3-base: #4c566a;
  --color-nord-41-test: #d12626;
  --color-nord-41-base: #d8dee9;
}